/* App.css */
/* .App {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
  } */
  
  /* form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  } */
  
  /* input {
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5); 
    color: black;
    outline: none;
    transition: border-color 0.3s;
  } */
  
  /* input:focus {
    border-color: rgba(255, 255, 255, 0.7);
  }
  
  .password-container {
    position: relative;
  } */
  
  /* .password-container input {
    padding-right: 45px; 
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
    opacity: 0.7;
    transition: opacity 0.3s;
  }
   */
  /* .eye-icon:hover {
    opacity: 1;
  } */
  
  /* button {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: black; 
    color: white;
    border: none;
    border-radius: 30px; 
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #333;
  } */
  
  /* p {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 20px;
  }
  
  p:hover {
    color: darkblue;
  }
   */